.circle-image {
  border: solid 2px white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  vertical-align: text-bottom;
}

.circle-image.black {
  border: solid 2px black;
}
